<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailTo" value="johnycruz00@gmail.com"/>
    <add key="EmailFrom" value="JohnyInoa@gmail.com"/>
    <add key="CredentialEmail" value="JohnyInoa@gmail.com"/>
    <add key="CredentialPassword" value="teste#1aoni"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="APIKey" value="9368a2aa"/>
    <add key="Culture" value="en-US"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>