<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailFrom" value="JohnyInoa@gmail.com"/>
    <add key="EmailTo" value="JohnyInoa@gmail.com"/>
    <add key="EmailSubject" value="TESTE"/>
    <add key="EmailBody" value="TESTE BODY"/>
    <add key="CredentialEmail" value="JohnyInoa@gmail.com"/>
    <add key="CredentialPassword" value="teste#1aoni"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="APIKey" value="9368a2aa"/>
    <add key="Culture" value="en-US"/>
  </appSettings>
</configuration>